.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: flex-end; */
  align-items: center;
}
.intro-title {
  /* ON THE RIGHT */
  color: #161617;
  /* color: #282828; */
  margin-top: 5%;
  margin-left: 70%;
  /* margin-right: 15%; */
  /* font-weight: bold; */
  /* CENTER */
  /* color: white;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  align-self: center; */
  font-size: 40px;
  line-height: 1.6em;
  letter-spacing: 0em;
  text-rendering: optimizeLegibility;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
