.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.intro-content {
  height: 25rem;
  display: flex;
  align-items: center;
}

.intro-title {
  margin-left: 15%;
  margin-right: 15%;
  font-family: europa;
  font-weight: bold;
  font-size: 40px;
  line-height: 2em;
  letter-spacing: 0em;
  text-rendering: optimizeLegibility;
  text-align: center;
}
